Repository didi/Hummer, pull requests merged in 2021-11, with the labels that each got.

#303 fix(iOS): ViewPager cell not same as ViewPager
  iOS/Hummer/Classes/Component/Views/ViewPager/HMViewPager.m
  iOS/Hummer/Classes/Component/Views/ViewPager/HMViewPagerCell.m
Labels: bug, Platform: iOS

#306 feat(iOS): Add hummerUrl which is `hummer://host/path/file.ext` format
  iOS/Hummer/Classes/Core/Bridge/HMJSContext.h
  iOS/Hummer/Classes/Core/Bridge/HMJSContext.m
  iOS/Hummer/Classes/Core/Bridge/HMJSGlobal.m
Labels: enhancement

#308 feat(iOS): transition animation convert to doubleValue instead of integerValue
  iOS/Hummer/Classes/Component/Animation/TransitionAnimation/HMTransitionAnimationConverter.m
Labels: enhancement, Platform: iOS

#309 fix(iOS): Scroll event parameter name update
  iOS/Hummer/Classes/Event/View/HMScrollEvent.m
Labels: bug, Platform: iOS

#310 fix(iOS): memory error
  iOS/Hummer/Classes/Component/Views/View/UIView+HMDom.h
  iOS/Hummer/Classes/Component/Views/View/UIView+HMDom.m
Labels: bug, Platform: iOS

#312 fix(iOS): Build error
  iOS/Hummer/Classes/Component/Animation/HMCAAnimation.m
  iOS/Hummer/Classes/Component/Views/Dialog/HMDialog.m
  iOS/Hummer/Classes/Component/Views/View/UIView+HMDom.m
  iOS/Hummer/Classes/Component/Views/View/UIView+Hummer.m
  iOS/Hummer/Classes/Core/HMView.m
Labels: bug, Platform: iOS

#313 fix(iOS): hmValue compatibility
  iOS/Hummer/Classes/Core/Bridge/NSObject+Hummer.m
Labels: bug, Platform: iOS

#315 fix(iOS): podspec
  Hummer.podspec
Labels: bug, Platform: iOS

#320 chore(iOS): Downgrade SocketRocket
  Hummer.podspec
  iOS/Hummer/Classes/Component/WebSocket/HMWebSocket.m
Labels: bug, Platform: iOS

#323 chore(Android): android release version: 0.4.2
  android/ReleaseNotes.md
  android/gradle.properties
  android/hermes-debugger/upload.gradle
  android/hummer-annotation/upload.gradle
  android/hummer-compiler/upload.gradle
Labels: Platform: Android

#327 fix(iOS): gradient backgroundColor should disable animation
  iOS/Hummer/Classes/Component/Views/View/UIView+HMDom.m
  iOS/Hummer/Classes/Core/HMView.m
Labels: bug, Platform: iOS

#329 feat(iOS): Remove Location component
  iOS/Hummer/Classes/Component/Location/HMLocation.h
  iOS/Hummer/Classes/Component/Location/HMLocation.m
Labels: enhancement, Platform: iOS

#330 fix(iOS): hmValue is strong readonly value, weak value will set by setter
  iOS/Hummer/Classes/Core/Bridge/NSObject+Hummer.h
  iOS/Hummer/Classes/Core/Bridge/NSObject+Hummer.m
  iOS/Hummer/Classes/Engine/HMBaseExecutorProtocol.h
  iOS/Hummer/Classes/Engine/N-API/HMJSExecutor.m
Labels: bug, Platform: iOS

#331 fix(iOS): hummerUrl will use fileName when the hummerUrl is empty
  iOS/Hummer/Classes/Core/Bridge/HMJSContext.m
Labels: bug, Platform: iOS
