Repository didi/Hummer, pull requests merged in 2021-06, with the labels that each got.

#192 fix(iOS): longPress use begin state as recognizer
  iOS/Hummer/Classes/Component/Views/View/UIView+HMEvent.m
Labels: Platform: iOS, bug

#193 fix(iOS): margin reject auto
  iOS/Hummer/Classes/Core/Layout/RenderObject/HMRenderObject.m
Labels: Platform: iOS, bug

#194 fix(iOS): Add Yoga prefix
  iOS/Hummer/Classes/Core/Layout/RenderObject/HMRenderObject.m
Labels: Platform: iOS, bug

#209 fix(iOS): sizeThatFits function call error
  Hummer.podspec
  iOS/Hummer/Classes/Core/Layout/RenderObject/HMRenderObject.m
Labels: Platform: iOS, bug

#216 feat(devtools):add ios dev tools
  iOS/Hummer/Classes/Core/Bridge/HMJSGlobal.m
  iOS/Hummer/Classes/DevTools/HMDevPageInfo/HMDevPageInfoViewController.h
  iOS/Hummer/Classes/DevTools/HMDevPageInfo/HMDevPageInfoViewController.m
  iOS/Hummer/Classes/DevTools/HMDevPageInfo/HMDevToolsJSCallerExcutor.h
  iOS/Hummer/Classes/DevTools/HMDevPageInfo/HMDevToolsJSCallerExcutor.m
  iOS/Hummer/Classes/DevTools/HMDevTools.h
  iOS/Hummer/Classes/DevTools/HMDevTools.m
  iOS/Hummer/Classes/DevTools/HMDevToolsEntryView.h
  iOS/Hummer/Classes/DevTools/HMDevToolsEntryView.m
  iOS/Hummer/Classes/DevTools/HMDevToolsHierarchyView/HMDevToolsHierarchyCell.h
  iOS/Hummer/Classes/DevTools/HMDevToolsHierarchyView/HMDevToolsHierarchyCell.m
  iOS/Hummer/Classes/DevTools/HMDevToolsHierarchyView/HMDevToolsHierarchyHelper.h
  iOS/Hummer/Classes/DevTools/HMDevToolsHierarchyView/HMDevToolsHierarchyHelper.m
  iOS/Hummer/Classes/DevTools/HMDevToolsHierarchyView/HMDevToolsHierarchyViewController.h
  iOS/Hummer/Classes/DevTools/HMDevToolsHierarchyView/HMDevToolsHierarchyViewController.m
  iOS/Hummer/Classes/DevTools/HMDevToolsLogger/HMDevToolsLogger.h
  iOS/Hummer/Classes/DevTools/HMDevToolsLogger/HMDevToolsLogger.m
  iOS/Hummer/Classes/DevTools/HMDevToolsLogger/HMDevToolsLoggerCell.h
  iOS/Hummer/Classes/DevTools/HMDevToolsLogger/HMDevToolsLoggerCell.m
  iOS/Hummer/Classes/DevTools/HMDevToolsLogger/HMDevToolsLoggerViewController.h
  iOS/Hummer/Classes/DevTools/HMDevToolsLogger/HMDevToolsLoggerViewController.m
  iOS/Hummer/Classes/DevTools/HMDevToolsMenu.h
  iOS/Hummer/Classes/DevTools/HMDevToolsMenu.m
  iOS/Hummer/Classes/DevTools/HMDevToolsMenuItem.h
  iOS/Hummer/Classes/DevTools/HMDevToolsMenuItem.m
  iOS/Hummer/Classes/DevTools/HMDevToolsViewController.h
  iOS/Hummer/Classes/DevTools/HMDevToolsViewController.m
  iOS/Hummer/Classes/DevTools/HMDevToolsViewControllerProtocol.h
  iOS/Hummer/Classes/Engine/JavaScriptCore/HMJSCExecutor.m
  iOS/Hummer/Classes/Interceptor/HMInterceptor.h
  iOS/Hummer/Classes/Interceptor/HMInterceptor.m
  iOS/Hummer/Classes/Interceptor/HMJSCallerIterceptor.h
Labels: Platform: iOS, enhancement

#218 feat(iOS): Add HMDEBUG macro
  iOS/Hummer/Classes/Core/Bridge/HMDebug.h
  iOS/Hummer/Classes/Core/Bridge/HMJSContext.m
  iOS/Hummer/Classes/Core/Bridge/HMJSGlobal.m
  iOS/Hummer/Classes/DevTools/HMDevPageInfo/HMDevToolsJSCallerExcutor.m
  iOS/Hummer/Classes/Engine/HMBaseExecutorProtocol.h
  iOS/Hummer/Classes/Engine/JavaScriptCore/HMJSCExecutor.h
Labels: Platform: iOS, enhancement

#222 feat(iOS): Export hm_context
  iOS/Hummer/Classes/Core/Bridge/HMJSContext.h
  iOS/Hummer/Classes/Core/Bridge/HMJSContext.m
Labels: Platform: iOS, enhancement

#223 fix(iOS): Add missing code
  iOS/Hummer/Classes/Engine/JavaScriptCore/HMJSCExecutor.m
Labels: Platform: iOS, bug

#224 fix(devtools):1.修复工具栏不显示问题 2.隐藏函数树
  iOS/Hummer/Classes/DevTools/HMDevToolsEntryView.m
  iOS/Hummer/Classes/DevTools/HMDevToolsViewController.m
Labels: Platform: iOS, bug, enhancement

#225 fix(devtools):修复某些情况下工具栏不能正确显示
  iOS/Hummer/Classes/DevTools/HMDevToolsEntryView.m
Labels: Platform: iOS, bug
