Repository didi/Hummer, pull requests merged in 2021-05, with the labels that each got.

#158 feat(iOS): Add rawX/Y
  iOS/Hummer/Classes/Component/Views/View/UIView+HMEvent.m
  iOS/Hummer/Classes/Event/Gesture/HMTapEvent.m
Labels: Platform: iOS, enhancement

#159 fix(iOS): Crash
  iOS/Hummer/Classes/Component/Views/View/HMAttributesItem.m
Labels: Platform: iOS, bug

#160 feat(iOS): Image control auto resize
  iOS/Hummer/Classes/Core/Layout/RenderObject/HMCompatibleRenderObject.m
Labels: enhancement

#163 fix(iOS): Image location calculate add missing condidation
  iOS/Hummer/Classes/Core/Layout/RenderObject/HMCompatibleRenderObject.m
Labels: Platform: iOS, bug

#164 fix(iOS): Release build error
  iOS/Hummer/Classes/Core/Bridge/HMJSContext.m
Labels: Platform: iOS, bug

#165 fix(iOS): - hm_sizeThatFits: Add position: 'absolute' case
  iOS/Hummer/Classes/Core/Layout/RenderObject/HMRenderObject.m
Labels: Platform: iOS, bug

#166 fix(iOS): Build error
  iOS/Hummer/Classes/Core/Layout/RenderObject/HMRenderObject.m
  iOS/Podfile
Labels: Platform: iOS, bug

#155 fix(tenon): 修复 native 组件布尔类型的属性传递问题
  tenon/packages/tenon-vue/src/runtime/nodes/Base.ts
  tenon/packages/tenon-vue/src/runtime/nodes/components/input.ts
  tenon/packages/tenon-vue/src/runtime/nodes/components/scroller.ts
  tenon/packages/tenon-vue/src/runtime/nodes/components/switch.ts
  tenon/packages/tenon-vue/src/runtime/nodes/components/textarea.ts
Labels: Needs: Triage 🔍, Platform: tenon

#188 Feature/android update
  android/hummer-component/src/main/java/com/didi/hummer/component/imageview/Image.java
  android/hummer-component/src/main/java/com/didi/hummer/component/imageview/ImageRenderUtil.java
  android/hummer-sdk/src/main/java/com/didi/hummer/adapter/imageloader/IImageLoaderAdapter.java
  android/hummer-sdk/src/main/java/com/didi/hummer/adapter/imageloader/impl/DefaultImageLoaderAdapter.java
  android/hummer-sdk/src/main/java/com/didi/hummer/render/utility/YogaDrawableUtil.java
Labels: Platform: Android, bug, enhancement
